/* ------------------ */
/* Custom Properties */
/* ---------------- */

:root {
    /* Colors */

    /* Primary colors */
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);

    /* Neutral colors */
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --footer-grayish: hsl(168, 57%, 72%);
    --white: hsl(0, 0%, 100%);

    /* Font families */

    --ff-barlow: "Barlow", sans-serif;
    --ff-fraunces: 'Fraunces', serif;
}

body {
    font-size: 1.125rem;
    font-family: 'Barlow', sans-serif;
    text-align: center;
    min-height: 100vh;
    background-color: hsl(30, 100%, 99%);
}

/* -------------*/
/*     RESET    */
/* ------------- */

/* Box-sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset Margins */

body,
h1,
h2,
h3,
h4,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Make images to work easier with */

img {
    max-width: 100%;
    display: block;
}
  
  /* Inherit fonts for inputs and Buttons */
  
input,
button,
textarea,
select {
    font: inherit;
}
  
  /* remove animations for those who turned them off */
  
@media (prefers-reduced-motion: reduce) {
    
    *,
    *::before,
    *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
 }
}

/* --------------- */
/* Utility Classes */
/* --------------- */

/* general */

.flex {
    display: flex;
    gap: var(--gap, 1rem); 
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.d-block {
    display: block;
}

.lh {
    line-height: 1.7;
}

.ls {
    letter-spacing: .2rem;
}

.uppercase {
    text-transform: uppercase;
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 2rem);
}

.sr-only {
    position: absolute; 
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px; 
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

/* Typography */

.ff-barlow { font-family: var(--ff-barlow); }
.ff-fraunces { font-family: var(--ff-fraunces); }

/* ---------------- */
/*    Components   */
/* ---------------- */

/* Mobile Design */

/* Header */

.header {
    background-image: url(../images/mobile/image-header.jpg);
    background-size: cover;
    height: 100%;
    padding: 1.5rem 1rem;
}

.nav-link {
    font-size: 1.5rem;
    color: var(--dark-blue);
}

.title {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: var(--white);
}

.header-content {
    margin-top: 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow {
    padding: 3rem 0 6.2rem;
}

.mobile-nav-toggle {
    display: none;
}

/* Main Section Starts */

/* Advertisements */

.transform-section {
    display: flex;
    flex-direction: column-reverse;
}

.content-section {
    padding: 3.5rem 1.3rem;
}

.content-title {
    font-size: 2rem;
    padding-inline: 2rem;
    color: var(--very-dark-desaturated-blue);
}

.content-body {
    color: var(--dark-grayish-blue);
    line-height: 1.7;
    margin-bottom: 2rem;
}

/* Graphic design-photography */

.graphic-design-section, 
.photography-section {
    padding: 25rem 1rem 3rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.graphic-design-section {
    background-image: url('../images/mobile/image-graphic-design.jpg');
    color: var(--dark-desaturated-cyan);
}

.photography-section {
    background-image: url('../images/mobile/image-photography.jpg');
    color: var(--dark-blue);
}

/* Testimonials */

.testimonial-section {
    padding: 3.1rem 2rem;
}

.testimonial-title {
    font-size: 1.2rem;
}

.testimonial-title,
.client-designation {
    color: var(--grayish-blue);
}

.client-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 3rem;
}

.client-image,
.client-review {
    color: var(--very-dark-grayish-blue);
    margin-bottom: 2rem;
}

.client-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.client-name {
    margin-bottom: 1rem;
}

/* Main Image Gallery*/

.image-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

/* Footer Section */

.footer {
    background: var(--footer-grayish);
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links {
    margin-top: 2.5rem;
}

.footer-link {
    color: var(--dark-moderate-cyan);
    padding-inline: 1rem;
}

.social-icons {
    margin-top: 4rem;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 375px) {

    .desktop {
        display: none;
    }

    .navigation {
        background: var(--white);
        position: fixed;
        z-index: 1000;
        inset: 10% 10% 50% 10%;
        padding: 2rem;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0;
        list-style: none;
        transform: translateX(120%);
        transition: transform 500ms ease-in-out;
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 2000;
        right: 1rem;
        top: 1.5rem;
        background: transparent;
        background-image: url(../images/icon-hamburger.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 1.5rem;
        aspect-ratio: 1;
        border: 0;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(../images/icon-close.svg);
    }

    .mobile-nav-toggle:focus-visible {
        outline: 5px solid white;
        outline-offset: 5px;
    }

    .navigation[data-visible="true"] {
        transform: translateX(0);
    }

}

/* Tablet Design */

@media (min-width: 768px) {

    /* Header */

    .header {
        background-image: url('../images/desktop/image-header.jpg');
        background-position: center bottom;
        padding-inline: 1rem;
    }

    .nav-wrapper {
        justify-content: space-between;
        align-items: center;
    }

    .nav-link {
        font-size: 1.2rem;
        color: var(--white);
        padding-inline: .5rem;
    }

    .active > .nav-link {
        font-family: var(--ff-fraunces);
        font-size: 1rem;
        background: var(--white);
        color: var(--very-dark-desaturated-blue);
        padding: 1rem 2rem;
        border-radius: 50px;
        text-transform: uppercase;
    }

    .header-title > .title {
        font-size: 2rem;
    }

    .header-content {
        margin-top: 5rem;
    }

    .arrow {
        padding-block: 5rem;
    }

    /* Main section */

    /* Advertisements */

    .mobile {
        display: none;
    }

    .transform-section {
        flex-direction: row;
    }

    .content-section,
    .image-section,
    .graphic-design-section,
    .photography-section {
        width: 50%;
    }

    .content-title {
        padding-inline: 0;
        font-size: 2rem;
        text-align: left;
    }

    .content-body {
        text-align: left;
        max-width: 40ch;
        margin-block: 1rem;
    }

    .content-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
        padding-inline: 2.5rem;
    }

    .learn-more-link {
        margin: 0;
        font-size: 1rem;
    }

    /* Graphic design and Photography section */

    .design-photography {
        display: flex;
    }

    .standout-section {
        display: flex;
    }

    .graphic-design-section {
        background-image: url('../images/desktop/image-graphic-design.jpg');
    }

    .photography-section {
        background-image: url('../images/desktop/image-photography.jpg');
    }

    .graphic-design-section,
    .photography-section {
        padding: 12rem 3rem 1rem;
    }

    .gp-body {
        font-size: 1rem;
        margin-top: 1rem;
        line-height: 1.5;
    }

    /* Testimonials */

    .testimonial-section {
        padding: 10rem 2rem;
    }

    .clients {
        display: flex;
        justify-content: space-between;
        padding-top: 3rem;
    }

    .testimonial-title {
        font-size: 1.5rem;
        letter-spacing: .5rem;
    }

    .client-review {
        font-size: 1rem;
        max-width: 25ch;
    }

    /* Image Gallery */

    .image-gallery {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: none;
    }

    /* Footer */

    .footer {
        padding-block: 6rem;
    }

    .social-icons {
        width: 20%;
    }
} 


